<div class='wrapper'>
  <div>
  {{#each peripherals }}
  {{#with this}}
    <div>
      <span> {{localName}} </span> 
      <button data-id={{id}} class='connect-btn'>connect</button>
    </div>
  {{/with}}
  {{/each}}
  </div> 

  {{#each devices }}
  <div>
    <h3 class='light-name'> {{name}} </h3>
    <button class='light-title-edit' >edit</button>
    <button data-id={{id}} class='light-title-save' hidden>save</button>
    <button data-deviceid={{ id }} id='toggle-light'>Toggle</button>

    <div class='slider-wrap'>
      {{slider white 'white' id}} 
      <span>{{white}}</span>
    </div>
    <div class='slider-wrap'>
      {{slider red 'red' id}}
      <span>{{red}}</span>
    </div>

    <div class='slider-wrap'>
      {{slider green 'green' id}}
      <span>{{green}}</span>
    </div>

    <div class='slider-wrap'>
      {{slider blue 'blue' id}}
      <span>{{blue}}</span>
    </div>
  </div>
  {{else}}
    <p> No connected devices </p>
  {{/each}}

  <script>
    window.__app = {};
    window.__app.config = {{ stringifiedConfig }};
  </script>
</div>
